{% extends 'stridon_app/base.html' %}
{% block body %}
<div class="container">
    <h1>
        Hello. Welcome {{ stridon_user.username }}
    </h1>
    {% if perms.stridon_app.can_view_paid_articles %}
        <p>You are a paid member of Stridon!.</p>
        <ol>
                <li>
                    <a href="{% url 'unsubscribe' %}">Unsubscribe from Stridon</a>
                </li>
        </ol>

    {% else %}
        <p>Subscribe to Stridon Premium for our best content</p>
        <ol>
        <li>
            <a href="{% url 'subscribe' %}">Subscribe to Stridon</a>
        </li>
    </ol>
    {% endif %}

    <h2>Create a new article</h2>
    <ol>
        <li>
            <a href="{% url 'add-article' %}">Create a new article</a>
        </li>
    </ol>
</div>
{% endblock body %}